* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
    width: 100%;
    background: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    top: 0;
    position: fixed;
}

.headerv2 {
    width: 920px;
    background: #ffffff;
    margin: auto;
}

.headerlogo {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px;
    margin-top: 20px;
}

.headernav {
    float: right;
    margin-right: 10px
}

.lines {
    border-left-color: #777777;
    border-right-color: #777777;
    border-width: 1px
}

.image1 {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding: 15px;
    float: left;
}

.logo {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.bodycopy {
    width: 920px;
    padding: 20px;
    background: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1.5px;
    margin: auto;
    margin-top: 70px;
}

.bodycopyport {
    width: 920px;
    padding: 20px;
    background: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1.5px;
    margin: auto;
    margin-top: 90px;
}

body {
    background-image: url(/Users/keith/upenn/homework/Basic-Portfolio/assets/images/crossline-lines.png);
    height: 100%;
}

p {
    font-family: 'Helvetica Neue';
    color: #777777;
    padding: 15px;
 }

h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding:10px;
    border-bottom-style: solid; 
    border-color: #dddddd
 }

 a {
    text-decoration: none; 
}

li{ 
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 12px;
}

.imgport{
    width: 200px;
    height: 200px;
    margin: 30px;
}

table{
    margin: auto;
}

label{
    font-family: 'Helvetica Neue';
    color: #777777;
    padding-left: 0 px;
}

#email{
    width: 100%;
    height: 25px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 12px;
}

#message{
    width: 100%;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 12px;
}

#name{
    width: 100%;
    height: 25px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 12px;
}

form{
    width: 860px;
    margin: auto;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    right: 0px;
    left: 0px;
    margin-top:40px;
}

.footer1{
    width: 100%;
    background-color: #4aaaa5;
    height: 5px;
    margin-top:10px;
}

.footer2{
    width:100%;
    background-color: #777777;
    height: 45px;
}

.cr{
    font-family: 'Helvetica Neue';
    color: white;
    padding: 15px;
    text-align: center;
}